*{
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
    font-family: Arial, sans-serif;
    font-size:small;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5%;
}

h1,h2,h3,p{
    margin: 15px;
    text-decoration: none;
    text-transform: none;
}

a{
    text-decoration: none;
    color: white;

}

a:hover{
    color: red;
    transition: 1s;
}


li{
    margin:3px;
}

#page{
    text-align: center;
    padding: 55px;
    border: 2px solid red;
    border-radius: 30;
    width: 500px;
    height: 680px;
    
}

#image>img{
float: left;
border: 2px solid red;
border-radius: 150px;
height: 160px;
width: 140px;
margin: 15px ;
}

